*{
    color: white;
}
h1 {
    font-size: 30pt;
    color: rgb(222, 222, 222);
}

#Header {
    height: auto;;
    background-color: rgb(0, 128, 128);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:999;
}

#Header a {
    line-height: 32pt;
    font-size: 18pt;
    margin-left: 4%;
    margin-right: 6%;
    color: rgb(128, 255, 255);
    text-decoration: none;
    position: relative;
}
#Header a:hover{
    color: rgb(16, 240, 255);
}

#SideBar {
    color: white;
    position: absolute;
    left:0pt;
    top:32pt;
    font-size: 16pt;
    background-color: #1f1f1f;
    width:64pt;
    height:100%;
    float: left;
    border-style: solid;
    border-color: rgb(64, 64, 64);
}
#SideBar *{
    position: relative;
    top:2pt;
    line-height: 36pt;
    font-weight: bolder;
    margin:10pt;
    margin-left: 14pt;
    white-space: nowrap;
    text-decoration: none;
    border-style: solid;
    border-width: 1pt;
    border-color: aliceblue;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 2pt;
    padding-right: 2pt;
}
#SideBar *:hover{
    border-width: 2pt;
    margin-left: 13pt;
}

#MainBar {
    font-size: 16pt;
    color: white;
    position: absolute;
    left: 10%;
    width: 80%;
    top:32pt;
    border-style: solid;
    border-width:5px;
    padding-bottom: 8pt;
}

#Footer{
    text-align:center;
    position: fixed;
    bottom: 10pt;
    font-weight: lighter;
    left:45%;
}

ph{
    font-size: 16pt;
    color: rgb(240, 240, 240);
    margin-left: 32pt;
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
ph1{
    font-size: 20pt;
    font-weight:10pt;
    color: rgb(240, 240, 240);
    margin-left: 32pt;
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
ph1{
    font-size: 24pt;
    font-weight:10pt;
    color: rgb(240, 240, 240);
    margin-left: 32pt;
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.img{
    position: absolute;
    right:50pt;
    top:100pt;
}