*{
    color: white;
}
h1 {
    font-size: 30pt;
    color: rgb(222, 222, 222);
}

#Header {
    height: 20pt;
    background-color: rgb(0, 128, 128);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:999;
}

#Header a {
    line-height: 10pt;
    font-size: 15pt;
    margin-left: 10pt;
    margin-right: 10pt;
    color: rgb(128, 255, 255);
    text-decoration: none;
    position: relative;
    top: 2pt;
}

#SideBar {
    color: white;
    position: absolute;
    left:0pt;
    top:20pt;
    font-size: 16pt;
    text-align: center;
    background-color: #1f1f1f;
    width:64pt;
    height:100%;
    float: left;
}
#SideBar *{
    font-weight: bolder;
    margin:10pt;
    margin-top: 17pt;
    margin-bottom: 17pt;
    text-decoration: none;
    border-style:solid;
}

#MainBar {
    font-size: 16pt;
    color: white;
    position: absolute;
    left: 72pt;
    border-style: solid;
    border-width:5px;
}

#Footer{
    text-align:center;
    position: fixed;
    bottom: 10pt;
    font-weight: lighter;
    left:45%;
}

ph{
    font-size: 16pt;
    color: rgb(240, 240, 240);
    margin-left: 32pt;
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
ph1{
    font-size: 20pt;
    font-weight:10pt;
    color: rgb(240, 240, 240);
    margin-left: 32pt;
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
ph1{
    font-size: 24pt;
    font-weight:10pt;
    color: rgb(240, 240, 240);
    margin-left: 32pt;
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.img{
    position: absolute;
    right:50pt;
    top:100pt;
}